$app-dark-blue-palette: (
    50 : #e2e9ef,
    100 : #b6c7d6,
    200 : #86a2bb,
    300 : #567ca0,
    400 : #31608b,
    500 : #0d4477,
    600 : #0b3e6f,
    700 : #093564,
    800 : #072d5a,
    900 : #031f47,
    A100 : #7ba6ff,
    A200 : #4884ff,
    A400 : #1562ff,
    A700 : #0052fb,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);