$app-light-blue-palette: (
    50 : #e8f3fc,
    100 : #c8e2f4,
    200 : #a4ceed,
    300 : #7fbae5,
    400 : #63ace0,
    500 : #489dda,
    600 : #4195d6,
    700 : #388bd0,
    800 : #3081cb,
    900 : #216fc2,
    A100 : #fcfdff,
    A200 : #c9e1ff,
    A400 : #96c6ff,
    A700 : #7cb8ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);