@use '~@angular/material' as material;
@import '../../../theme/app.theme';
@import '../../../theme/mixins/apply-to-tablet-and-larger.mixin';

#btn-create-office {
    width: 57px;
    height: 57px;
    padding: 15px;
    border-radius: 50%;
    border: none;
    background-color: material.get-color-from-palette($accent-palette, 500);
    position: absolute;
    bottom: 25px;
    right: 25px;

    img {
        width: 20px;
        height: 20px;
    }
}