$office-yellow: #FFBE0B;
$office-peach: #FF9B71;
$office-orange: #FB5607;
$office-brown: #97512C;
$office-lilac: #DBBADD;
$office-pink: #FF006E;
$office-mint: #A9F0D1;
$office-green: #00B402;
$office-light-blue: #489DDA;
$office-blue: #0072E8;
$office-purple: #8338EC;

.office-yellow {
    background-color: $office-yellow;
}
.office-yellow-left-border {
    border-left-color: $office-yellow !important;
}

.office-peach {
    background-color: $office-peach;
}
.office-peach-left-border {
    border-left-color: $office-peach !important;
}

.office-orange {
    background-color: $office-orange;
}
.office-orange-left-border {
    border-left-color: $office-orange !important;
}

.office-brown {
    background-color: $office-brown;
}
.office-brown-left-border {
    border-left-color: $office-brown !important;
}

.office-lilac {
    background-color: $office-lilac;
}
.office-lilac-left-border {
    border-left-color: $office-lilac !important;
}

.office-pink {
    background-color: $office-pink;
}
.office-pink-left-border {
    border-left-color: $office-pink !important;
}

.office-mint {
    background-color: $office-mint;
}
.office-mint-left-border {
    border-left-color: $office-mint !important;
}

.office-green {
    background-color: $office-green;
}
.office-green-left-border {
    border-left-color: $office-green !important;
}

.office-light-blue {
    background-color: $office-light-blue;
}
.office-light-blue-left-border {
    border-left-color: $office-light-blue !important;
}

.office-blue {
    background-color: $office-blue;
}
.office-blue-left-border {
    border-left-color: $office-blue !important;
}

.office-purple {
    background-color: $office-purple;
}
.office-purple-left-border {
    border-left-color: $office-purple !important;
}