$office-yellow: #FFBE0B;
$office-peach: #FF9B71;
$office-orange: #FB5607;
$office-brown: #97512C;
$office-lilac: #DBBADD;
$office-pink: #FF006E;
$office-mint: #A9F0D1;
$office-green: #00B402;
$office-light-blue: #489DDA;
$office-blue: #0072E8;
$office-purple: #8338EC;

.office-yellow {
    background-color: $office-yellow;
}

.office-peach {
    background-color: $office-peach;
}

.office-orange {
    background-color: $office-orange;
}

.office-brown {
    background-color: $office-brown;
}

.office-lilac {
    background-color: $office-lilac;
}

.office-pink {
    background-color: $office-pink;
}

.office-mint {
    background-color: $office-mint;
}

.office-green {
    background-color: $office-green;
}

.office-light-blue {
    background-color: $office-light-blue;
}

.office-blue {
    background-color: $office-blue;
}

.office-purple {
    background-color: $office-purple;
}